@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Karla&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #3A3A3A ;
    color: white;
}

.score-board {
    margin: 70px auto;
    border: 3px solid white;
    width: 260px;
    color: white;
    background-color: #1C1C1C;
    border-radius: 8px;
    font-size: 25px;
    text-align: center;
    padding: 0px 20px;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    display: flex;
    justify-content: center;
}

.score-board p {
    font-size: 40px;
    margin-left: 5px;
    margin-right: 5px;

}

.score-board h2 {
    background-color: #9335C1;
    border-radius: 3px;
    border-color: black;
    padding: 2px 10px;
}

.player-score h2 {
    position: absolute;
    top: 1px;
    left: -51px;
}

.computer-score h2 {
    position: absolute;
    right: -68px;
    top: 1px;
}

.intro {
    color: #9335C1;
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 60px;
    -webkit-text-stroke: 0.0000000000000001px #D8D7DD;
    justify-content: space-around;
    transition: opacity 0.5s ease;
}
 
#button1,
.match button {
   background: none;
   width: 150px;
   height: 65px;
   border-color: white;
   border-radius: 4px;
   border-width: 3px;
   color: white;
   font-family: 'Karla', sans-serif;
   font-size: 22px;
   font-weight: 3;
   transition: all 0.2s;
   cursor: pointer;
}

.match{
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translate(-50%,-50%);
    transition: opacity 0.5s ease 0.5s;

}

.winner {
    font-family: 'Bebas Neue', cursive;
    text-align: center;
    font-size: 50px;
}

.hands, 
.options {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

#button1:hover,
#button2:hover,
#button3:hover,
#button4:hover{
    background-color: white;
    color: #3A3A3A;
}

.player-hand {
    transform: rotateY(180deg);
}

div.fadeOut{
    opacity: 0;
    pointer-events: none;
}

div.fadeIn {
    opacity: 1;
    pointer-events: all;
}

@media all and (max-width:30em){
        #button1,
        #button2,
        #button3,
        #button4{
        display:block;
        margin:0.4em auto;
        }
} 

@keyframes shakePlayer {
    0%{
        transform: rotateY(180deg) translateY(0px);
    }
    15%{
        transform: rotateY(180deg) translateY(-50px);
    }
    30%{
        transform: rotateY(180deg) translateY(0px);
    }
    45%{
        transform: rotateY(180deg) translateY(-50px);
    }
    60%{
        transform: rotateY(180deg) translateY(0px);
    }
    75%{
        transform: rotateY(180deg) translateY(-50px);
    }
    100%{
        transform: rotateY(180deg) translateY(0px);
    }
    85%{
        transform: rotateY(180deg) translateY(-50px);
    }
}

@keyframes shakeComputer{
    0%{
        translateY(0px);
    }
    15%{
        translateY(-50px);
    }
    30%{
        translateY(0px);
    }
    45%{
        translateY(-50px);
    }
    60%{
        translateY(0px);
    }
    75%{
        translateY(-50px);
    }
    100%{
        translateY(0px);
    }
    85%{
        translateY(-50px);
    }
}

